

#join-btn{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    font-size:18px;
    padding:20px 40px;
}

#video-streams{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 1400px;
    border: #0F2027;
    margin:0 auto;
    align-self: center;
}

.video-container{
    border: #0F2027;
    max-height: 100%;
    align-items: center;
}

.video-player{
    border: #0F2027;
    height: 100%;
    width: 100%;
}

button{
    border:none;
    background-color: rgb(4, 111, 25);
    color:#fff;
    padding:10px 20px;
    font-size:16px;
    margin:2px;
    cursor: pointer;
}

#stream-controls{
    display: none;
    justify-content: center;
    margin-top:0.5em;
    border: #0F2027;
}

@media screen and (max-width:1400px){
    #video-streams{
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        width: 95%;
        border: #0F2027;
    }
}